body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.title{
    display: flex;
    justify-content: center;
background-color: aqua;
}
.menu-inferior{
    display: flex;
    list-style: none;
    justify-content: center;
}
li{
    padding: 5px;
}


.main{

    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}





.footer{
    display: flex;
    justify-content: space-around;
    background-color: darkgrey;
}

.footerRight{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}