body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.title{
    display: flex;
    justify-content: center;
background-color: aqua;
}
.menu-inferior{
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: blue;
}
li{
    padding: 5px;
}


.main{

    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

.cards{
    background-color: chartreuse;
    border-radius: 10px yellow;
    
}

.cardCentral{
    margin: 10px;
    background-color: chartreuse;
    
}

.cardCentral > h2{
border: 2px red solid;    
}










.footer{
    display: flex;
    justify-content: space-around;
    background-color: darkgrey;
    flex-wrap: wrap;
}

.footerRight{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    
}

